<div class="navbar bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo / Home Link -->
    <a href="/" class="text-white text-xl font-bold">Climate Solutions</a>
    
    <!-- Navigation Links -->
    <div class="flex items-center space-x-4">
      <!-- View Projects Link -->
      <a 
        class="<%= page === '/solutions/projects' ? 'active' : '' %> text-white" 
        href="/solutions/projects"
      >
        View Projects
      </a>

      <!-- About Link -->
      <a 
        class="<%= page === '/about' ? 'active' : '' %> text-white" 
        href="/about"
      >
        About
      </a>

      
      <% if (!session.user) { %>
        <!-- Login Link -->
        <a 
          class="<%= page === '/login' ? 'active' : '' %> text-white" 
          href="/login"
        >
          Login
        </a>

        <!-- Register Link -->
        <a 
          class="<%= page === '/register' ? 'active' : '' %> text-white" 
          href="/register"
        >
          Register
        </a>
      <% } else { %>
        <!-- Logout Link -->
        <a 
          class="text-white" 
          href="/logout"
        >
          Logout
        </a>
      <% } %>
    </div>
  </div>
</div>
