<div class="navbar bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white text-xl font-bold">Climate Solutions</a>
      <div class="flex items-center space-x-4">
        <a class="<%= page === '/solutions/projects' ? 'active' : '' %>" href="/solutions/projects">View Projects</a>
        <a class="<%= page === '/about' ? 'active' : '' %>" href="/about">About</a>
      </div>
    </div>
  </div>
  