<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <!-- nav -->
    <nav class="navbar bg-neutral-200">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">Sector Explore</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a class="mt-3 active" href="/about">About</a></li>
                <details class="dropdown">
                    <summary class="btn m-1">Region</summary>
                    <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                        <a href="/solutions/projects?sector=industry">Industry</a>
                        <a href="/solutions/projects?sector=technology">Technology</a>
                        <a href="/solutions/projects?sector=agriculture">Agriculture</a>
                    </ul>
                </details>
            </ul>
        </div>
    </nav>
    
    <div class="container mx-auto flex flex-col">
        <div class="hero">
            <div class="hero-content flex flex-col">
                <h1 class="text-5xl font-bold">About</h1>
                <p>This page says all about me!</p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-xl text-center font-bold">
            <img class="place-self-center" src="https://img.favpng.com/2/14/17/ben-tennyson-ben-10-desktop-wallpaper-cartoon-png-favpng-Q1xvde5QD0ZWYAfE4yAG5JHWj.jpg" width="400px" alt="Ben 10">
            <div>
                <h2>My name is Muzammil Khan</h2>
                <p>I am from Saudi Arabia, currently studying at Seneca Polytechnic <br>
                    The courses I am taking this semester are <br>
                    <ul>
                        <li>OOP345: Object Oriented Programming</li>
                        <li>SYD366: Software Development Analysis</li>
                        <li>DBS311: Advance Database Systems</li>
                        <li>WEB322: Web Programming Tools & Frameworks</li>
                        <li>SES228: PULP Fiction - American Crime Stories</li>
                    </ul>

                </p>
            </div>
        </div>
    </div>      
</body>
</html>