<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>About</title>
</head>
<body class="bg-gray-100 text-gray-800">

    <!-- navbar -->
    <%- include('partials/navbar', { page: '' }) %>
    
    <div class="container mx-auto py-10">
        <div class="hero text-center mb-10">
            <div class="hero-content">
                <h1 class="text-5xl font-extrabold text-white-900">About</h1>
                <h2 class="text-xl text-gray-600 mt-2">This page says all about me!</h2>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center text-xl font-semibold">
            
                <div class="flex flex-col md:flex-row items-center md:items-start gap-8">
                    <!-- Image section -->
                    <div class="flex-shrink-0">
                        <img class="rounded-lg shadow-lg" src="https://preview.redd.it/txa7pi4kjb071.png?width=770&format=png&auto=webp&s=5b0f3c9d4c28ce59e47e1d4c1e13d744120e2fed" width="400px" alt="Ben 10">
                    </div>
            
                    <!-- Text section -->
                    <div class="text-center md:pl-6">
                        <h2 class="text-3xl font-bold text-gray-800 mb-4">My name is Muzammil Khan</h2>
                        <p>I am from Saudi Arabia, currently studying at Seneca Polytechnic.</p>
                        <h1>The courses I am taking this semester are:</h1>
                        <ul class="list-disc list-inside mt-3 space-y-2">
                            <li>OOP345: Object Oriented Programming</li>
                            <li>SYD366: Software Development Analysis</li>
                            <li>DBS311: Advanced Database Systems</li>
                            <li>WEB322: Web Programming Tools & Frameworks</li>
                            <li>SES228: PULP Fiction - American Crime Stories</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>      

</body>
</html>
