@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    padding: 50px;
    text-align: center;
    background-color: #010d25;
}

.card {
    padding: 20px;
    background-color: #01112e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d4ed8;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #858585;
}
